attrs==15.2.0
beautifulsoup4==4.4.1
chardet==2.3.0
cryptography==1.2.3
defusedxml==0.4.1
deluge==1.3.14
ecdsa==0.13
enum34==1.1.2
html5lib==0.999
idna==2.0
ipaddress==1.0.16
ldoce5viewer==2013.4.24
lxml==3.5.0
Magic-file-extensions==0.2
numpy==1.11.0
PAM==0.4.2
paramiko==1.16.0
pick-colour-picker==1.0
Pillow==3.1.2
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycrypto==2.6.1
pygame===1.9.1release
pygobject==3.20.0
pyliblzma==0.5.3
pyOpenSSL==0.15.1
pyserial==3.0.1
python-libtorrent==1.0.11
pyxdg==0.25
service-identity==16.0.0
setproctitle==1.1.8
six==1.10.0
SOAPpy==0.12.22
Twisted==16.0.0
Whoosh==2.7.0
wstools==0.4.3
youtube-dl==2016.2.22
zope.interface==4.1.3
